table {
    width: 100%;
    /* Elimina el espacio entre celdas */
}

.table-container {
  overflow-x: auto;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd; /* Borde de las celdas */
}

th {
    background-color: #f2f2f2; /* Color de fondo para encabezados */
}

#fechaHora { 
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}

td input {
  width: 100%;
  box-sizing: border-box;
}

