table {
    width: 100%;
    border-collapse: collapse; /* Elimina el espacio entre celdas */
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd; /* Borde de las celdas */
}

th {
    background-color: #f2f2f2; /* Color de fondo para encabezados */
}

#fechaHora { /*Estilo para la fecha y hora que se muestra en la página*/
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}
